html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }

body {
	background-color: #333;
	color: #0a0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  main {
    flex-grow: 1;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 10px;
  }

.navbar-nav {
	width: 50%;
}

.nav-link {
	width: 33%;
	color: #0a0 !important;
	text-align: center;
	font-size: large;
}

.nav-link.active {
    background-color: white;
}

#logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: inherit;
	width: inherit;
}