html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
	background-color: #333;
	color: #0a0;
}

#container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
  
  main {
    flex-grow: 1;
  }
  
  footer {
    background-color: #f2f2f2;
    padding: 10px;
  }

.navbar-nav {
	width: 50%;
}

.nav-link {
	width: 33%;
	color: #0a0 !important;
	text-align: center;
	font-size: large;
}

.nav-link.active {
    background-color: white;
}

#logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: inherit;
	width: inherit;
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5%;
    border: 2px solid #0a0;
    border-radius: 25px;
}

form > p{
    margin: 10px;
    width: 60%;
}

form > p > label, input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
}

form > p > input, textarea{
    background-color: #212529;
    resize: none;
    border: none;
    color: white;
    margin: auto;
}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 5%;
    border: 2px solid red;
    border-radius: 25px; 
}
li{
    color: red;
}
#send{
    justify-content: center;
    align-items: center;
    width: 20%;
    color:#0a0;
}