html, body {
	height: 100%;
	margin: 0;
	padding: 0;
  }
  
body {
	background-color: #333;
	color: #0a0;
}

#container {
	display: flex;
	flex-direction: column;
	min-height: 100%;
  }
  
  main {
	flex-grow: 1;
  }
  
  footer {
	background-color: #f2f2f2;
	padding: 10px;
  }

.navbar-nav {
	width: 50%;
}

.nav-link {
	width: 33%;
	color: #0a0 !important;
	text-align: center;
	font-size: large;
}

.nav-link.active {
    background-color: white;
}

#logo {
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: inherit;
	width: inherit;
	margin-right: 5px;
}

#sidebar {
	width: 15%;
	float: left; 
}
#app {
	margin: 2%;
	font-family: Times New Roman;
}

.my-border {
	font-size: 30px;
	height: 30px;
	grid-column: 1 / -1;
}

.side-border {
	height: 30px;
	width: fit-content;
	margin: 0;
	font-size: 30px;
}

/* line styles */

.input-line {
	display: flex;
	justify-content: left;
	align-items: stretch;
	min-height: 27px;
	height: auto;
	font-size: 25px;
	width: 85vw;
}

.input-label {
	display: block;
	text-align: center;
	flex-basis: 10%;
	float: left;
	margin: 0;
	font-size: inherit;
}

.user-input {
	flex-grow: 1;
	background-color: #333;
	color: #0a0;
	outline: none;
	border: none;
	padding: 0;
	margin-left: 5px;
	font-size: inherit;
	resize:none;
	max-height:450px;
	min-height:27px;
	overflow: hidden;
}

.output-line{
	height: 25px;
	font-size: 25px;
	margin: 0;
}
